[submodule "ystrdy/XCodeCoverage"]
	path = ystrdy/XCodeCoverage
	url = https://github.com/alonecuzzo/XcodeCoverage
[submodule "ystrdy/ReactiveCocoa"]
	path = ystrdy/ReactiveCocoa
	url = https://github.com/alonecuzzo/ReactiveCocoa
