github "SnapKit/SnapKit" ~> 3.0

github "Alamofire/Alamofire" ~> 4.5
github "Alamofire/AlamofireImage" ~> 3.3

github "RxSwiftCommunity/RxDataSources" ~> 2.0.2
github "ReactiveX/RxSwift" "4.0.0-beta.0"
